@import 'react-big-calendar/lib/sass/styles';

.calendarWrapper {
    height: 100%;
}

.event {
    .extra {
        display: none;
    }

    &:hover {
        .extra {
            display: block;
        }
    }
}