.homeWrapper {
    background-color: #FFFFFF;
    height: calc(100vh - 55px);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    padding: 40px 5% 20px;

    .header {
        text-align: center;

        h1 {
            color: #000;
            font-size: 30px;
            margin: 0px;
            padding: 0px;
        }

        p {
            color: #818181;
        }
    }
    
    .searchForm {
        form {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            .formGroup {
                position: relative;
                margin-right: 5px;

                &:first-child {
                    select {
                        padding: 8px;
                        padding-right: 0px;
                        border: 1px solid #cbcbcb;
                        border-right: 0px none;
                        box-sizing: border-box;
                        border-radius: 5px 0px 0px 5px;
                        outline: 0px none;
                        position: relative;
                        z-index: 10;
                    }

                    input {
                        border-left: 0px none;
                        border-radius: 0px 5px 5px 0px;
                    }
                }

                &:last-child {
                    margin-right: 0px;
                }

                input {
                    position: relative;
                    z-index: 10;

                    &[name='service'] {
                        width: 240px;
                    }

                    &[name='city'] {
                        width: 180px;
                    }
                }

                .autoSuggest {
                    z-index: 0;
                    position: absolute;
                    top: 7px;
                    padding-top: 28px;
                    width: 100%;
                    background-color: #ffffff;
                    border-radius: 0px 0px 5px 5px;
                    border: 1px solid #cbcbcb;

                    ul {
                        margin: 0px;
                        padding: 5px 0px;
                        list-style-type: none;
                        
                        li {
                            padding: 9px;

                            &:hover {
                                background-color: #cbcbcb;
                                cursor: pointer;
                            }
                        }
                    }

                    &.companies {
                        ul {
                            margin: 0px;
                            padding: 5px 0px;
                            list-style-type: none;
                            
                            li {
                                padding: 9px;

                                h2 {
                                    font-size: 16px;
                                    padding: 0px;
                                    margin: 0px;
                                    margin-bottom: 3px;
                                    color: #333;
                                }

                                p {
                                    color: #818181;
                                    margin: 0px;
                                    font-size: 12px;
                                }

                                &:hover {
                                    background-color: #cbcbcb;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    

    .footer {
        color: #818181;
        font-size: 13px;
    }
}